Repository NREL/ThermalNetwork, pull requests merged in 2023-11, with the labels that each got.

#7 Update sys params with new values from ThermalNetwork
  pyproject.toml
  thermalnetwork/ground_heat_exchanger.py
  thermalnetwork/network.py
  topology/final.ipynb
Labels: enhancement

#9 Use newer release workflow tools recommended by PyPA
  .github/workflows/release.yml
  thermalnetwork/__init__.py
Labels: enhancement, ignore for release

#8 Moar testing
  .github/workflows/format_and_lint.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  README.md
  pyproject.toml
  thermalnetwork/__init__.py
  thermalnetwork/tests/test_base.py
  thermalnetwork/tests/test_ground_heat_exchanger.py
  thermalnetwork/tests/test_heat_pump.py
  thermalnetwork/tests/test_network.py
Labels: tests

#10 Fix automatic packaging for PyPI
  .github/workflows/release.yml
  pyproject.toml
Labels: ignore for release

#11 Update LICENSE
  LICENSE
Labels: ignore for release
